.Rproj.user
.Rhistory
.RData
.Ruserdata
data/annotation/
data/immune_DE/
figures/
results/
scripts/R/immune_categories_by_study.rmd
scripts/R/Reciprocal_blast_results.rmd
data/immune_categories/Buddenborg_et_al_2017_1D_gene_categories.txt
data/immune_categories/Buddenborg_et_al_2017_3D_gene_categories.txt
data/immune_categories/Buddenborg_et_al_2017_shedding_gene_categories.txt
data/immune_categories/Domains_for_fig.xlsx
data/immune_categories/Green_et_al_2015_immune_genes.txt
data/immune_categories/Green_et_al_2016_immune_genes.txt
data/immune_categories/Immune_categories.xlsx
data/immune_categories/InterPro_immune_domain_required.xlsx
data/immune_categories/Lafont_et_al_2020_PolyIC_immune_categories.txt
data/immune_categories/Li_et_al_2022_Immune_protein_groups.txt
data/immune_categories/PRRs_for_fig.txt
data/immune_categories/Philipp_et_al_2012_immune_set.txt
data/immune_categories/Seppala_et_al_2021_additional_file_1.txt
data/immune_categories/Seppala_et_al_2021_additional_file_13.txt
data/immune_categories/Seppala_et_al_2021_domains.txt
data/immune_categories/Wang_et_al_2017_immune_genes.txt
data/immune_categories/Wang_et_al_2019_immune_genes.txt
data/immune_categories/Zhang_et_al_gene_groups.txt
data/immune_categories/antimicrobial_for_fig.txt
data/immune_categories/effector_for_fig.txt
data/immune_categories/~$Buddenborg_et_al_2017_3D_gene_categories.xlsx
data/annotation/AplCal3_NOG.emapper.annotations.txt
